body{
font-family: monospace;
display:flex;
justify-content: center;
align-items: center;
height:90vh;
background-image: url(/WhatsApp\ Image\ 2024-07-30\ at\ 8.45.39\ AM.jpeg);

}
.buttons{
display:grid;
grid-template-columns: repeat(4,1fr);
margin-top: 15px;

}
button{
background-color: #D89CB9;
color: white;
border:none;
border-radius: 64px;
width:60px;
height:40px;
margin:10px;
}

.cal{
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    border-color: black;
    background-color:#F4CFE2;
    height:fit-content;
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-right: 30px;
    border: 6px solid #D89CB9;
    

}
#display{
    width:45vh;
    height: 10vh;
    border-radius: 12px;
    background-color: white;
    font-size: 25px;
    text-align: right;
}
